article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 16px; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }

legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }



@font-face{
font-family:"Avenir 45 Book";
src:url("../fonts/4f32268f-fd86-4960-b72c-4bb1ba75ec6f.eot?iefix") format("eot");}
@font-face{
font-family:"Avenir 45 Book";
src:url("../fonts/4f32268f-fd86-4960-b72c-4bb1ba75ec6f.eot?iefix");
src:url("../fonts/939cba03-5b40-4d01-9bc5-7589eca863db.woff") format("woff"),url("../fonts/849bc5b9-a2ff-4343-977b-26ba8bd24a60.ttf") format("truetype"),url("../fonts/f67fa3b5-c1d1-488f-8e60-a828b9ad56a4.svg#f67fa3b5-c1d1-488f-8e60-a828b9ad56a4") format("svg");
}
@font-face{
font-family:"Avenir 45 Book Oblique";
src:url("../fonts/acc13cdc-338a-43e6-a156-e54a4c87582d.eot?iefix") format("eot");}
@font-face{
font-family:"Avenir 45 Book Oblique";
src:url("../fonts/acc13cdc-338a-43e6-a156-e54a4c87582d.eot?iefix");
src:url("../fonts/ca94ed56-18fc-4856-940a-70a072607c7c.woff") format("woff"),url("../fonts/dd6da407-70fe-4aa3-a1c7-64f0cb086f01.ttf") format("truetype"),url("../fonts/c7f424be-90e1-45b8-b617-ee3589a859bd.svg#c7f424be-90e1-45b8-b617-ee3589a859bd") format("svg");
}
@font-face{
font-family:"Avenir 65 Medium";
src:url("../fonts/212ab03d-5db2-4d6a-b94c-171cc702aa51.eot?iefix") format("eot");}
@font-face{
font-family:"Avenir 65 Medium";
src:url("../fonts/212ab03d-5db2-4d6a-b94c-171cc702aa51.eot?iefix");
src:url("../fonts/2cac77ec-9bc0-4ee7-87e4-27650190744f.woff") format("woff"),url("../fonts/aaf11848-aac2-4d09-9a9c-aac5ff7b8ff4.ttf") format("truetype"),url("../fonts/294099f3-8d00-4676-afc5-5e9d8d43ad69.svg#294099f3-8d00-4676-afc5-5e9d8d43ad69") format("svg");
}
@font-face{
font-family:"Avenir 65 Medium Oblique";
src:url("../fonts/2a6f81a2-475c-4831-9949-33d7748ee561.eot?iefix") format("eot");}
@font-face{
font-family:"Avenir 65 Medium Oblique";
src:url("../fonts/2a6f81a2-475c-4831-9949-33d7748ee561.eot?iefix");
src:url("../fonts/e0af2f49-a399-482b-a54e-d745e268ec80.woff") format("woff"),url("../fonts/6803d3dd-2107-45fc-ac8a-a4fa13771547.ttf") format("truetype"),url("../fonts/1bb1acb5-8d4e-4800-88af-dbcf1fe96ef8.svg#1bb1acb5-8d4e-4800-88af-dbcf1fe96ef8") format("svg");
}
@font-face{
font-family:"Avenir 85 Heavy";
src:url("../fonts/f61bf0f6-c193-4100-b940-12a1a01dcee5.eot?iefix") format("eot");}
@font-face{
font-family:"Avenir 85 Heavy";
src:url("../fonts/f61bf0f6-c193-4100-b940-12a1a01dcee5.eot?iefix");
src:url("../fonts/7147ec3a-8ff8-4ec9-8c5c-bd1571dc6ae6.woff") format("woff"),url("../fonts/d1dc54b2-878d-4693-8d6e-b442e99fef68.ttf") format("truetype"),url("../fonts/731dd4d3-64da-427d-ba61-01575b3cf3f7.svg#731dd4d3-64da-427d-ba61-01575b3cf3f7") format("svg");
}
@font-face{
font-family:"Avenir 85 Heavy Oblique";
src:url("../fonts/7be0fdec-384a-42b5-ab27-c60a322cde7d.eot?iefix") format("eot");}
@font-face{
font-family:"Avenir 85 Heavy Oblique";
src:url("../fonts/7be0fdec-384a-42b5-ab27-c60a322cde7d.eot?iefix");
src:url("../fonts/53554f6f-4b01-4815-87fe-82c49b8ba5a9.woff") format("woff"),url("../fonts/28dfedaf-6372-45a1-8833-b3078dc56a21.ttf") format("truetype"),url("../fonts/f747b6ee-4d13-4e45-815d-f33ac1b71d63.svg#f747b6ee-4d13-4e45-815d-f33ac1b71d63") format("svg");
}


body, button, input, select, textarea { 
  font-family:'Avenir 65 Medium','Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
  color: #2b3d47;
  margin: 0;
  font-size: 1em; 
  line-height: 1.4;
}

html {
  background: #111 url(../img/dark_wall.png);
  height:100%;
}
body {
  background-color: rgba(0,0,0,.65);
  height:100%;
}

header {
  position: absolute;
  top:50%;
  width:100%;
  margin: -27px 0 0;
  text-align: center;
}
header h1 {
  color:#64AC21;
  font-size:18px;
  font-family: 'Avenir 65 Medium', sans-serif;
  font-weight:normal;
  margin: 0 20px 10px;
  display:block;
}
header h2 {
  color:rgba(255,255,255,.25);
  font-size:14px;
  font-family: 'Avenir 65 Medium', sans-serif;
  font-weight:normal;
  margin: 0 20px;
  display:block;
  letter-spacing: 0.1em;
}


@media all and (-webkit-min-device-pixel-ratio: 2) {
  html {
    background-image: url(../img/dark_wall@2X.png);
    background-size: 300px 300px;
  }
}